[submodule "Thema01 - Orde in Chaos/Introduction-Python"]
	path = Thema01 - Orde in Chaos/Introduction-Python
	url = https://github.com/cappuchinese/Introduction-Python
[submodule "Thema02 - Energiehuishouding van de cel/pypovray"]
	path = Thema02 - Energiehuishouding van de cel/pypovray
	url = https://github.com/cappuchinese/pypovray
[submodule "Thema03 - DNA harde schijf van de cel/flask-site"]
	path = Thema03 - DNA harde schijf van de cel/flask-site
	url = https://github.com/cappuchinese/flask-site
[submodule "Thema04 - Meten is Weten/R-research"]
	path = Thema04 - Meten is Weten/R-research
	url = https://github.com/cappuchinese/R-research
[submodule "Thema05 - Genomica praktijk/diagnosticgenomeanalysis"]
	path = Thema05 - Genomica praktijk/diagnosticgenomeanalysis
	url = https://cappuchinese@bitbucket.org/cappuchinese/diagnosticgenomeanalysis.git
[submodule "Thema06 - BLAST basics/difficultdata"]
	path = Thema06 - BLAST basics/difficultdata
	url = https://github.com/cappuchinese/difficultdata.git
[submodule "Thema06 - BLAST basics/databases2"]
	path = Thema06 - BLAST basics/databases2
	url = https://github.com/cappuchinese/databases2
[submodule "Thema07 - Analyse van Genexpressie/Statistiek3"]
	path = Thema07 - Analyse van Genexpressie/Statistiek3
	url = https://github.com/cappuchinese/Statistiek3
[submodule "Thema07 - Analyse van Genexpressie/ads"]
	path = Thema07 - Analyse van Genexpressie/ads
	url = https://github.com/cappuchinese/Algorithms-Datastructures
