[submodule "Thema01 - Orde in Chaos/Introduction-Python"]
	path = Thema01 - Orde in Chaos/Introduction-Python
	url = https://github.com/cappuchinese/Introduction-Python
[submodule "Thema02 - Energiehuishouding van de cel/pypovray"]
	path = Thema02 - Energiehuishouding van de cel/pypovray
	url = https://github.com/cappuchinese/pypovray
[submodule "Thema03 - DNA harde schijf van de cel/flask-site"]
	path = Thema03 - DNA harde schijf van de cel/flask-site
	url = https://github.com/cappuchinese/flask-site
[submodule "Thema04 - Meten is Weten/R-research"]
	path = Thema04 - Meten is Weten/R-research
	url = https://github.com/cappuchinese/R-research
[submodule "Thema05 - Genomica praktijk/diagnosticgenomeanalysis"]
	path = Thema05 - Genomica praktijk/diagnosticgenomeanalysis
	url = https://cappuchinese@bitbucket.org/cappuchinese/diagnosticgenomeanalysis.git
[submodule "Thema06 - BLAST basics/difficultdata"]
	path = Thema06 - BLAST basics/difficultdata
	url = https://github.com/cappuchinese/difficultdata.git
[submodule "Thema06 - BLAST basics/databases2"]
	path = Thema06 - BLAST basics/databases2
	url = https://github.com/cappuchinese/databases2
[submodule "Thema07 - Analyse van Genexpressie/Statistiek3"]
	path = Thema07 - Analyse van Genexpressie/Statistiek3
	url = https://github.com/cappuchinese/Statistiek3
[submodule "Thema07 - Analyse van Genexpressie/ads"]
	path = Thema07 - Analyse van Genexpressie/A-DS
	url = https://github.com/cappuchinese/Algorithms-Datastructures
[submodule "Thema07 - Analyse van Genexpressie/Praktijkopdracht"]
	path = Thema07 - Analyse van Genexpressie/Praktijkopdracht
	url = https://github.com/cappuchinese/Gene-Expression-Analysis.git
[submodule "Thema08 - Introduction to Systems Biology/Praktijkopdracht"]
	path = Thema08 - Introduction to Systems Biology/Praktijkopdracht
	url = https://github.com/cappuchinese/Systems-Biology.git
[submodule "Thema09 - Introduction to Machine Learning/Intro-ML-EDA"]
	path = Thema09 - Introduction to Machine Learning/Intro-ML-EDA
	url = https://github.com/cappuchinese/Intro-ML-EDA.git
[submodule "Thema09 - Introduction to Machine Learning/Intro-Java"]
	path = Thema09 - Introduction to Machine Learning/Intro-Java
	url = https://github.com/cappuchinese/Intro-Java.git
[submodule "SLB3_LisaHu"]
	path = SLB3_LisaHu
	url = https://github.com/cappuchinese/SLB3_LisaHu.git
